<mat-card class="hccc-teacher-onboard-form container" fxLayout="column" fxLayoutGap="10%"
          fxLayoutAlign.lt-md="center center">

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="10%">

        <div fxLayout="column" fxFlex="50" fxFlex.md="40" fxLayoutAlign="space-around start">

            <teacher-card *ngIf="['details','edit'].includes(action)"
                          [hideDetails]=true [teacher]="teacher" flexAlign="center">
            </teacher-card>

            <mat-card class="search" *ngIf="action==='create'" fxLayout="row" fxLayoutGap="5%"
                      fxLayoutAlign="space-around center">
                <mat-form-field>
                    <input matInput type="text" placeholder="Enter Phone Number" [formControl]="devoteePhNo"
                           matTooltip="Get a Devotee's details by entering their phone number">
                </mat-form-field>
                <button mat-flat-button color="accent" (click)="getDevotee(devoteePhNo.value)">SEARCH</button>
                <div class="mat-caption hccc-failure-caption" *ngIf="invalidPhoneNumber">
                    Enter a valid phone number
                </div>
            </mat-card>

            <div *ngIf="devotees"> Select a devotee:</div>
            <div class="devotees-list" *ngIf="devotees">
                <mat-card *ngFor="let devotee of devotees" [class.selected]="devotee.userName===userName"
                          (click)="onDevoteeSelect(devotee.userName, devotee.isTeacher)">
                        <mat-card-content>UserName: {{devotee.userName}}</mat-card-content>
                        <mat-card-content>First Name: {{devotee | fullName}}</mat-card-content>
                        <mat-card-content>Email: {{devotee.email}}</mat-card-content>
                        <mat-card-content>Phone Number: {{devotee.phoneResidence}}</mat-card-content>
                    <div *ngIf="devotee.isTeacher">
                        <span class="mat-caption hccc-success-caption">{{devotee | fullName}} is already onboarded as a Teacher</span>
                    </div>
                </mat-card>
            </div>
        </div>

        <mat-card class="form" fxLayout="column" fxFlex="30" fxFlex.md="40" fxLayoutAlign="center" *ngIf="devoteeSelected || readOnly" [formGroup]="teacherForm">

            <mat-form-field>
                <input matInput placeholder="Title/Salutaion" formControlName="salutation" [readonly]="readOnly">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Profile Picture URL" formControlName="profilePictureURL" [readonly]="readOnly">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Skill sets" formControlName="skillSets" [readonly]="readOnly">
            </mat-form-field>

            <mat-checkbox name="indemnitySigned" formControlName="indemnitySigned" [disabled]="readOnly">
                Indemnity Signed
            </mat-checkbox>

            <mat-checkbox name="identityVerified" formControlName="identityVerified" [disabled]="readOnly">
                Identification Verified
            </mat-checkbox>

            <mat-checkbox name="backgroundVerified" formControlName="backgroundVerified" [disabled]="readOnly">
                Background check complete
            </mat-checkbox>

            <div class="form-buttons" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
                <button mat-flat-button color="accent" routerLink="../" *ngIf="!readOnly">BACK</button>
                <button mat-flat-button color="accent" routerLink="/teachers" *ngIf="readOnly">BACK</button>
                <button *ngIf="action==='create'" mat-flat-button color="accent" type="submit"
                        (click)="onSubmit()" [disabled]="!teacherForm.valid">SUBMIT</button>
            </div>
        </mat-card>

    </div>

</mat-card>