{
  "swagger": "2.0",
  "info": {
    "description": "This is the API Interface definition for HCCC'c Youth and Education Application",
    "version": "1.0.0",
    "title": "HCCC Youth and Education API",
    "contact": {
      "email": "ec_it@livermoretemple.org"
    }
  },
  "host": "livermoretemple.org",
  "basePath": "/yande/api",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/courses": {
      "get": {
        "tags": [
          "courses"
        ],
        "summary": "Retrieve courses from the catalogue",
        "operationId": "getCourses",
        "parameters": [
          {
            "$ref": "#/parameters/Content-Type"
          },
          {
            "$ref": "#/parameters/Accept"
          },
          {
            "$ref": "#/parameters/Account-Id"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Tags to be used as filter - comma seperated list of tags"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - List of items returned in the response payload",
            "schema": {
              "$ref": "#/definitions/RetrieveCoursesListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "courses"
        ],
        "summary": "Add a new course to the catalogue",
        "operationId": "addCourse",
        "parameters": [
          {
            "$ref": "#/parameters/Content-Type"
          },
          {
            "$ref": "#/parameters/Accept"
          },
          {
            "$ref": "#/parameters/Account-Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCourseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Item returned in the response payload",
            "schema": {
              "$ref": "#/definitions/RetrieveCourseResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "403": {
            "$ref": "#/responses/403ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/courses/{courseId}": {
      "get": {
        "tags": [
          "courses"
        ],
        "summary": "Retrieve course by Course Id",
        "operationId": "getCourseById",
        "parameters": [
          {
            "$ref": "#/parameters/Content-Type"
          },
          {
            "$ref": "#/parameters/Accept"
          },
          {
            "$ref": "#/parameters/Account-Id"
          },
          {
            "in": "path",
            "name": "courseId",
            "required": true,
            "type": "string",
            "description": "Id of the course to be retrieved"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Item returned in the response payload",
            "schema": {
              "$ref": "#/definitions/RetrieveCourseResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/teachers": {
      "get": {
        "tags": [
          "teachers"
        ],
        "summary": "Retrieve list of teachers",
        "operationId": "getTeachers",
        "parameters": [
          {
            "$ref": "#/parameters/Content-Type"
          },
          {
            "$ref": "#/parameters/Accept"
          },
          {
            "$ref": "#/parameters/Account-Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - List of items returned in the response payload",
            "schema": {
              "$ref": "#/definitions/RetrieveTeachersListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "403": {
            "$ref": "#/responses/403ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "teachers"
        ],
        "summary": "Add a new teacher to the system",
        "operationId": "registerTeacher",
        "parameters": [
          {
            "$ref": "#/parameters/Content-Type"
          },
          {
            "$ref": "#/parameters/Accept"
          },
          {
            "$ref": "#/parameters/Account-Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterTeacherRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Item returned in the response payload",
            "schema": {
              "$ref": "#/definitions/RetrieveTeacherResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "403": {
            "$ref": "#/responses/403ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/teachers/{teacherId}": {
      "get": {
        "tags": [
          "teachers"
        ],
        "summary": "Retrieve teacher by teacher Id",
        "operationId": "getTeacherById",
        "parameters": [
          {
            "$ref": "#/parameters/Content-Type"
          },
          {
            "$ref": "#/parameters/Accept"
          },
          {
            "$ref": "#/parameters/Account-Id"
          },
          {
            "in": "path",
            "name": "teacherId",
            "required": true,
            "type": "string",
            "description": "Id of the teacher to be retrieved"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Item returned in the response payload",
            "schema": {
              "$ref": "#/definitions/RetrieveTeacherResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "403": {
            "$ref": "#/responses/403ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/indemnities": {
      "get": {
        "tags": [
          "indemnities"
        ],
        "summary": "Retrieve indemnities from the system. Only indemnities belonging to the requesting user account will be returned. User Account information is available in the header.",
        "operationId": "getIndemnities",
        "parameters": [
          {
            "$ref": "#/parameters/Content-Type"
          },
          {
            "$ref": "#/parameters/Accept"
          },
          {
            "$ref": "#/parameters/Account-Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - List of items returned in the response payload",
            "schema": {
              "$ref": "#/definitions/RetrieveIndemnitiesListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "indemnities"
        ],
        "summary": "Add a new indemnity to the system",
        "operationId": "addIndemnity",
        "parameters": [
          {
            "$ref": "#/parameters/Content-Type"
          },
          {
            "$ref": "#/parameters/Accept"
          },
          {
            "$ref": "#/parameters/Account-Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateIndemnityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Item returned in the response payload",
            "schema": {
              "$ref": "#/definitions/RetrieveIndemnityResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/account": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Retrieve accounts from the system",
        "operationId": "getAccounts",
        "parameters": [
          {
            "$ref": "#/parameters/Content-Type"
          },
          {
            "$ref": "#/parameters/Accept"
          },
          {
            "$ref": "#/parameters/Account-Id"
          },
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "If a accountId is passed in query string, the results will be filtered by accounts user name"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "If a phone number is passed in query string, the results will be filtered by accounts mobile number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - List of items returned in the response payload",
            "schema": {
              "$ref": "#/definitions/RetrieveAccountsListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "403": {
            "$ref": "#/responses/403ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/account/{accountId}/enrollments": {
      "get": {
        "tags": [
          "enrollments"
        ],
        "summary": "Retrieve enrollments from the system. Only enrollments belonging to the requesting user account will be returned. User Account information is available in the header.",
        "operationId": "getEnrollments",
        "parameters": [
          {
            "$ref": "#/parameters/Content-Type"
          },
          {
            "$ref": "#/parameters/Accept"
          },
          {
            "$ref": "#/parameters/Account-Id"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "Id of the account to be retrieved"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - List of items returned in the response payload",
            "schema": {
              "$ref": "#/definitions/RetrieveEnrollmentsListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "indemnities"
        ],
        "summary": "Add a new enrollment to the system",
        "operationId": "addEnrollment",
        "parameters": [
          {
            "$ref": "#/parameters/Content-Type"
          },
          {
            "$ref": "#/parameters/Accept"
          },
          {
            "$ref": "#/parameters/Account-Id"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "Id of the account to be retrieved"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateEnrollmentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Item returned in the response payload",
            "schema": {
              "$ref": "#/definitions/RetrieveEnrollmentResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Error Object",
      "properties": {
        "errorCode": {
          "description": "Unique Error Code that identifies the error",
          "type": "integer"
        },
        "errorMessage": {
          "description": "Error Messages that describes the error",
          "type": "string"
        }
      }
    },
    "CreateCourseRequest": {
      "description": "This is the schema of request payload when a New Course is created in the system",
      "properties": {
        "course": {
          "$ref": "#/definitions/CourseObject"
        }
      }
    },
    "RetrieveCoursesListResponse": {
      "description": "This is the schema of response payload when a list of course information is requested",
      "properties": {
        "courses": {
          "type": "array",
          "description": "List of Courses",
          "items": {
            "$ref": "#/definitions/CourseObject"
          }
        }
      }
    },
    "RetrieveCourseResponse": {
      "description": "This is the schema of response payload when a course information is requested",
      "properties": {
        "course": {
          "$ref": "#/definitions/CourseObject"
        }
      }
    },
    "CourseObject": {
      "description": "Course Object",
      "properties": {
        "courseId": {
          "type": "string",
          "description": "Unique course id"
        },
        "ageRestrictions": {
          "type": "string",
          "description": "A String describing any age restrictions"
        },
        "courseStartTime": {
          "type": "string",
          "description": "Course start time represented as a string in pacific time in the format hh:mm"
        },
        "courseEndTime": {
          "type": "string",
          "description": "Course end time represented as a string in pacific time in the format hh:mm"
        },
        "courseDays": {
          "type": "string",
          "description": "Course days or String describing the frequency/recurrence of the course"
        },
        "courseVenue": {
          "type": "string",
          "description": "Facility where the course will be taught"
        },
        "flyerURL": {
          "type": "string",
          "description": "URL of the course's flyer"
        },
        "imageURL": {
          "type": "string",
          "description": "URL of the course's image"
        },
        "slots": {
          "type": "integer",
          "description": "Class size or total number of slots in the course"
        },
        "courseRemarks": {
          "type": "string",
          "description": "Any additional notes or remarks about the course"
        },
        "teachers": {
          "description": "List of teacher (or coordinator) ids of the course",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "List of tags associated with the course",
          "type": "string"
        }
      }
    },
    "RegisterTeacherRequest": {
      "description": "This is the schema of request payload when a New Teacher is registered in the system",
      "properties": {
        "teacher": {
          "$ref": "#/definitions/TeacherObject"
        }
      }
    },
    "RetrieveTeachersListResponse": {
      "description": "This is the schema of response payload when a list of teacher information is requested",
      "properties": {
        "teachers": {
          "type": "array",
          "description": "List of Teachers",
          "items": {
            "$ref": "#/definitions/TeacherObject"
          }
        }
      }
    },
    "RetrieveTeacherResponse": {
      "description": "This is the schema of response payload when a teacher's information is requested",
      "properties": {
        "teacher": {
          "$ref": "#/definitions/TeacherObject"
        }
      }
    },
    "TeacherObject": {
      "description": "Teacher Object",
      "properties": {
        "teacherId": {
          "type": "string",
          "description": "Unique teacher id"
        },
        "accountId": {
          "type": "string",
          "description": "Unique account id of the devotee"
        },
        "teacherName": {
          "$ref": "#/definitions/NameObject"
        },
        "teacherEmail": {
          "type": "string",
          "description": "Email of the teacher"
        },
        "teacherPhoneNumber": {
          "type": "string",
          "description": "Phone number of teacher"
        }
      }
    },
    "CreateIndemnityRequest": {
      "description": "This is the schema of request payload when a New Indemnity is submited to the system",
      "properties": {
        "indemnity": {
          "$ref": "#/definitions/IndemnityObject"
        }
      }
    },
    "RetrieveIndemnitiesListResponse": {
      "description": "This is the schema of response payload when a list of indemnity information is requested",
      "properties": {
        "indemnities": {
          "type": "array",
          "description": "List of Indemnities",
          "items": {
            "$ref": "#/definitions/IndemnityObject"
          }
        }
      }
    },
    "RetrieveIndemnityResponse": {
      "description": "This is the schema of response payload when an indemnity form's information is requested",
      "properties": {
        "indemnity": {
          "$ref": "#/definitions/IndemnityObject"
        }
      }
    },
    "IndemnityObject": {
      "description": "Indemnity Object",
      "properties": {
        "AccountId": {
          "type": "string",
          "description": "Unique devotee account id of the participant"
        },
        "participantName": {
          "$ref": "#/definitions/NameObject"
        },
        "participantDOB": {
          "type": "string",
          "description": "Date of Birth of the participant"
        },
        "guardianFirstName": {
          "$ref": "#/definitions/NameObject"
        },
        "indemnityFormVersion": {
          "type": "string",
          "description": "String representing the name ot number of indemnity content version."
        }
      }
    },
    "RetrieveAccountsListResponse": {
      "description": "This is the schema of response payload when an account's information is requested",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "List of Accounts",
          "items": {
            "$ref": "#/definitions/AccountObject"
          }
        }
      }
    },
    "AccountObject": {
      "description": "Devotee Account Object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Unique account id of the devotee"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number associated with the devotee's account"
        },
        "email": {
          "type": "string",
          "description": "Email Id associated with the devotee's account"
        },
        "familyMembers": {
          "type": "array",
          "description": "List of family Members",
          "items": {
            "$ref": "#/definitions/Devotee"
          }
        },
        "roles": {
          "type": "array",
          "description": "List of roles",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateEnrollmentRequest": {
      "description": "This is the schema of request payload when a New Enrollment is created in the system",
      "properties": {
        "enrollment": {
          "$ref": "#/definitions/EnrollmentObject"
        }
      }
    },
    "RetrieveEnrollmentsListResponse": {
      "description": "This is the schema of response payload when a list of indemnity information is requested",
      "properties": {
        "enrollment": {
          "type": "array",
          "description": "List of Enrollments",
          "items": {
            "$ref": "#/definitions/EnrollmentObject"
          }
        }
      }
    },
    "RetrieveEnrollmentResponse": {
      "description": "This is the schema of response payload when an enrollment's information is requested",
      "properties": {
        "enrollment": {
          "$ref": "#/definitions/EnrollmentObject"
        }
      }
    },
    "EnrollmentObject": {
      "description": "Enrollment Object",
      "properties": {
        "enrollmentId": {
          "type": "string",
          "description": "Unique enrollment id"
        },
        "accountId": {
          "type": "string",
          "description": "Unique account id of the participants devotee account"
        },
        "participantName": {
          "$ref": "#/definitions/NameObject"
        },
        "guardianName": {
          "$ref": "#/definitions/NameObject"
        },
        "isParticipantUnder18": {
          "type": "boolean",
          "description": "true id participant age is under 18 else false"
        },
        "indemnityId": {
          "type": "string",
          "description": "indemnity form id associated with the enrollment"
        }
      }
    },
    "NameObject": {
      "description": "Name Object",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of teacher"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name of teacher"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of teacher"
        }
      }
    },
    "Devotee": {
      "description": "Devotee Object",
      "properties": {
        "name": {
          "$ref": "#/definitions/NameObject"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone Number of the Devotee"
        },
        "email": {
          "type": "string",
          "description": "Email address of the Devotee"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "Date of birth of the Devotee in the format YYYY-MM-DD"
        }
      }
    }
  },
  "parameters": {
    "Content-Type": {
      "name": "Content-Type",
      "in": "header",
      "description": "The MediaType of the request content",
      "required": true,
      "type": "string",
      "default": "application/json"
    },
    "Accept": {
      "name": "Accept",
      "in": "header",
      "description": "The MediaType of the response content",
      "required": true,
      "type": "string",
      "default": "application/json"
    },
    "Account-Id": {
      "name": "Account-Id",
      "in": "header",
      "description": "Unique identifier of the devotee's (user's) account",
      "required": true,
      "type": "string"
    }
  },
  "responses": {
    "400ErrorResponse": {
      "description": "Bad request - some of the input parameters are incorrect or invalid",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    },
    "403ErrorResponse": {
      "description": "Forbidden - the devotee does not have permissions to call this endpoint",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    },
    "404ErrorResponse": {
      "description": "Resource Not Found",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    },
    "500ErrorResponse": {
      "description": "Internal Server Error",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    }
  }
}
