<mat-card class="hccc-course-card" fxLayout="row wrap" >
    <mat-card-header fxFlex.gt-xs="1 1 50" fxFlex.lt-sm="1 1 100" fxLayout="column">

        <mat-card-content fxLayout="column" fxLayoutAlign.lt-sm="center center">
            <a mat-button color="accent" routerLink="/course/details/{{course.courseId}}"
               [matBadge]="course.slots" matBadgePosition="before" matBadgeColor="warn">{{course.courseName}}</a>

        </mat-card-content>

        <mat-card-content fxLayout="column" fxLayoutAlign.lt-sm="center center">
            <div><i>By</i></div>
            <div *ngFor="let teacher of course.teachers">{{teacher.account | fullName:teacher.salutation}}</div>
            <br>
            <div><i>On </i> </div>
            <div>{{course.courseDays}}</div>
            <br>
            <mat-chip-list #tagList>
                <mat-chip *ngFor="let tag of course.tags">
                    {{tag}}
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>

    </mat-card-header>


    <div fxFlex.gt-xs="1 1 50" fxFlex.lt-sm="1 1 100" fxLayoutAlign="center center">
        <img src="{{course.imageURL}}"
             style="width:100%;height:100%;background-color: lightgrey" >
    </div>


    <mat-card-actions fxFlex="100" fxLayoutAlign.lt-sm="center center">
        <a mat-button color="accent" routerLink="/course/details/{{course.courseId}}">DETAILS</a>
        <a mat-button color="accent" routerLink="/course/enroll/{{course.courseId}}" [disabled]="isEnrollDisabled">ENROLL</a>
    </mat-card-actions>
</mat-card>