<mat-toolbar class="hccc-search-toolbar">
    <mat-toolbar-row fxLayoutAlign="center center">
        <div class="hccc-course-tags" fxFlex="400px" fxLayoutAlign="space-between center" fxLayoutGap=".5em" fxShow.lt-md="false">
            <mat-chip-list>
                <mat-chip *ngFor="let tag of topThreeTags" (click)="tagSelection(tag)" >{{tag}}</mat-chip>
                <!-- <mat-chip>All</mat-chip> -->
            </mat-chip-list>
        </div>
        <span fxFlex="1 1 auto" fxShow.lt-md="false"></span>
        <input type="text" class="mat-body-1" size="30" placeholder="Search Courses" [(ngModel)]="searchString" (keyup)="searchingString()"/>
    </mat-toolbar-row>
</mat-toolbar>
