<mat-toolbar class="hccc-toolbar" fxLayout="row">
    <div fxLayout="row" fxLayoutGap=".5em">
        <button mat-icon-button #menuButton>
            <mat-icon>menu</mat-icon>
        </button>

        <span class="text mat-headline">Shiva - Vishnu Temple, Livermore</span>
    </div>
    <!-- This fills the remaining space of the current row -->
    <span fxFlex="1 1 auto"></span>


    <a *ngIf="!appService.isLoggedIn" [href]="loginUrl + redirectUrl">
        Login
    </a>
    <div fxLayout="row"  *ngIf="appService.isLoggedIn" fxLayoutGap=".5em" fxShow.lt-md="false">
            <button mat-icon-button>
                    <mat-icon>person</mat-icon>
                </button>
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
        </button> -->
        <!-- <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/myCourses">
                        <mat-icon>book</mat-icon>
                        <span>My Courses</span>
                </button>
        </mat-menu> -->
        <span class="username mat-body-1">{{appService.currentUser.firstName}}</span>
        <span class="username mat-body-1">{{appService.currentUser.lastName}}</span>
    </div>

</mat-toolbar>

