<div class="course-creation-form">
 <mat-grid-list [cols]="breakpoint" rowHeight="390px" (window:resize)="onResize($event)">
   <mat-grid-tile>
      <div class="course-creation-container">
         <mat-form-field class="course-input-field">
            <input matInput placeholder="Enter Course Name" value=""><br />
         </mat-form-field>
         <mat-form-field class="course-input-field">
            <input matInput placeholder="Enter any Age Restrictions Info" value="">
         </mat-form-field>

         <mat-form-field class="course-input-field-50">
            <input matInput [matDatepicker]="startDatePicker" placeholder="Select Start Date" value="">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker="matDatepicker"></mat-datepicker>
         </mat-form-field>

         <mat-form-field class="course-input-field-50">
            <input matInput [matDatepicker]="endDatePicker" placeholder="Select End Date" value="">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
         </mat-form-field>

         <mat-form-field class="course-input-field-50">
           <input matInput type="time" atp-time-picker value="20:55" placeholder="Select Start Time"/>
           <mat-icon aria-label="clock">add</mat-icon>
         </mat-form-field>

         <mat-form-field class="course-input-field-50">
            <input matInput type="time" atp-time-picker value="20:55" placeholder="Select End Time"/>
            <mat-icon aria-label="clock">add</mat-icon>
         </mat-form-field>

         <mat-form-field class="course-input-field">
            <input matInput placeholder="Enter Days" value="">
         </mat-form-field>
         <mat-form-field class="course-input-field">
            <input matInput placeholder="Enter Venue" value="">
         </mat-form-field>
         <mat-form-field class="course-input-field">
            <input matInput placeholder="Enter Flyer URL" value="">
         </mat-form-field>
      </div>
   </mat-grid-tile>
   <mat-grid-tile class="course-right-col">
      <div class="course-creation-container">
      	<!-- TODO: get teacher list from api -->
         <mat-form-field class="course-select-field" >
            <mat-select placeholder="Select Teachers and Coordinates" [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
            </mat-option>
         	</mat-select>
         </mat-form-field>
         <mat-form-field class="course-input-field">
            <input matInput placeholder="Add Tags">
         </mat-form-field>
         <mat-form-field class="course-input-field">
            <input matInput placeholder="Enter Image URL">
         </mat-form-field>
         <mat-form-field class="course-input-field">
            <textarea matInput placeholder="Add any Remarks/Notes"></textarea>
         </mat-form-field>
         <mat-form-field class="course-input-field">
            <input matInput placeholder="Enter Number of Slots">
         </mat-form-field>
      </div>
   </mat-grid-tile>
</mat-grid-list>

<div class="button-container">
	<button mat-flat-button>CANCEL</button>
	<button mat-flat-button>RESET</button>
	<button mat-flat-button>SUBMIT</button>
</div>
</div>