@import '../../../../src/hccc-theme.scss';

.banner {
  height: 300px;
  background-image: url('../../../../src/assets/img/014.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-opaque {
  background-color: mat-color($hccc-theme-primary, 900, 0.65);
  width: 100%;
  height: 100%;
}

.banner-content {
  padding: 120px 0 0 5%;

}

.mat-title {
  margin: 0 0 .2em 0;
}

.banner-content > div > div {

  color: mat-contrast($hccc-theme-primary, 900);
  display: inline-block;
  padding: 1em 3em 0 3em;
  border-style: solid;
  border-color: mat-contrast($hccc-theme-primary, 900);
  border-width: 1px;
}

