.teacher-icon {
	float: left;
	background-color: #cccccc;
    width: 35px;
    height: 35px;
    border-radius: 17px;
    margin-right: 10px;
}
.teacher-details {
	display: inline-block;
}

mat-icon {
	font-size: 33px;
}