<mat-card class="teacher-cards" fxLayout="row" *ngIf="teacher.devotee">

    <mat-card-content fxLayout="column">
        <div *ngIf="!teacher.profilePictureURL" class="teacher-icon">
            <mat-icon>home</mat-icon>
        </div>
        <div *ngIf="teacher.profilePictureURL" class="teacher-img">
            <img src="{{teacher.profilePictureURL}}">
        </div>
        <div *ngIf="teacher.devotee">
            <p>{{teacher.devotee.userName}}</p>
            <p>{{teacher.devotee.firstName}} {{teacher.devotee.lastName}}</p>
            <p>{{teacher.devotee.email}}</p>
            <p>{{teacher.devotee.phoneResidence}}</p>
        </div>
        <mat-card-actions fxLayoutAlign.lt-sm="center center">
            <a mat-button color="accent" routerLink="/teachers/{{teacher.devotee.userName}}"
               *ngIf="!hideDetails">DETAILS</a>
            <a mat-button color="accent" (click)="deleteTeacher(teacher.teacherId)"
               *ngIf="showDelete">DELETE</a>
        </mat-card-actions>
    </mat-card-content>

</mat-card>