<div class="wrapper" fxLayout="column">
  <div fxFlex="100" fxLayoutAlign="center center" *ngIf="appService.isYandeChair">
    <a mat-fab class="hccc-add-new-fab" routerLink="../onboard">
      <mat-icon aria-label="add new icon">add</mat-icon>
    </a>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="5%">
	<div fxLayout="column" fxFlex="30" fxFlex.md="40" fxLayoutAlign="center">
		<ul>
		  <li *ngFor="let number of [0,1,2,3,4]">
		     <teacher-card></teacher-card>
		  </li>
		</ul> 
	</div>
	<div fxLayout="column" fxFlex="30" fxFlex.md="40" >
		<ul>
		  <li *ngFor="let number of [0,1,2,3,4]">
		     <teacher-card></teacher-card>
		  </li>
		</ul>
	</div>
	<div fxLayout="column" fxFlex="30" fxFlex.md="40">
		<ul>
		  <li *ngFor="let number of [0,1,2,3,4]">
		     <teacher-card></teacher-card>
		  </li>
		</ul>
	</div>
  </div>
</div>
