<form class="hccc-course-creation-form" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign.lt-md="center center"
      [formGroup]="courseForm" (submit)="onSubmit()">

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="5%">

        <div fxLayout="column" fxFlex="30" fxFlex.md="40" fxLayoutAlign="center" class="form-group">

            <mat-form-field>
                <input matInput placeholder="Course Name" formControlName="courseName"/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Age Restrictions Info" formControlName="ageRestrictions"/>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxFlex="48" fxLayoutAlign="stretch">
                    <mat-form-field>
                        <input matInput type="date" placeholder="Start Date" formControlName="courseStartDate">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="48" fxLayoutAlign="stretch">
                    <mat-form-field>
                        <input matInput type="date" placeholder="End Date" formControlName="courseEndDate">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxFlex="48" fxLayoutAlign="stretch">
                    <mat-form-field>
                        <input matInput placeholder="Start Time" type="time" formControlName="courseStartTime">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="48" fxLayoutAlign="stretch">
                    <mat-form-field>
                        <input matInput placeholder="End Time" type="time" formControlName="courseEndTime">
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field>
                <input matInput placeholder="Days" formControlName="courseDays">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Venue" formControlName="courseVenue">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Flier URL" formControlName="flyerURL">
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Indemnity Forms" formControlName="indemnityForms" multiple>
                    <mat-option *ngFor="let form of indemnityForms" [value]="[form.indemnityFormTitle]">
                        {{form.indemnityFormTitle}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div fxLayout="column" fxFlex="30" fxFlex.md="40">

            <mat-form-field>
                <mat-select placeholder="Teachers and Coordinates" formControlName="teachers" multiple>
                    <mat-option *ngFor="let teacher of teachers" [value]="[teacher.devotee | fullName]">
                        {{teacher.devotee | fullName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Tags" formControlName="tags">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Image URL" formControlName="courseImageURL">
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Remarks/Notes" formControlName="courseRemarks"></textarea>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Number of Slots" formControlName="totalSlots">
            </mat-form-field>

            <mat-checkbox formControlName="isArchived">Is Archived</mat-checkbox>

            <mat-checkbox formControlName="isRegistrationOpen">Is Registration Open</mat-checkbox>

        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
        <button *ngIf="action!=='details'" mat-flat-button color="accent" routerLink="../">CANCEL</button>
        <!--<button *ngIf="action==='create'" mat-flat-button color="accent" type="reset" (click)="onReset()">RESET</button>-->
        <button *ngIf="action==='create'" mat-flat-button color="accent" type="submit">SUBMIT</button>
        <!--<button *ngIf="action==='edit'" mat-flat-button color="accent" type="button" (click)="onUpdate()">UPDATE</button>-->
    </div>

</form>