.hccc-course-creation-form {
  padding: 5em 0 5em 0;
}

mat-chip-list{
  padding-bottom: .7em;
}

cdk-overlay-pane {
  margin-top: 60px;
}
.validation{
  color: red;
  position: absolute;
  padding-top: 10px;
  font-size: 12px;
}

mat-checkbox {
  padding: 1.5em 0 1.5em 0;
}