<mat-card>
<div class="hccc-course-creation-form" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign.lt-md="center center"
      [formGroup]="courseForm">

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="5%">

        <div fxLayout="column" fxFlex="30" fxFlex.md="40" fxLayoutAlign="center" class="form-group">

            <mat-form-field>
                <input matInput placeholder="Course Name" formControlName="courseName" [readonly]="readOnly"/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Age Restrictions Info" formControlName="ageRestrictions" [readonly]="readOnly"/>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxFlex="48" fxLayoutAlign="stretch">
                    <mat-form-field>
                        <input matInput type="date" placeholder="Start Date" formControlName="courseStartDate" [readonly]="readOnly">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="48" fxLayoutAlign="stretch">
                    <mat-form-field>
                        <input matInput type="date" placeholder="End Date" formControlName="courseEndDate" [readonly]="readOnly">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxFlex="48" fxLayoutAlign="stretch">
                    <mat-form-field>
                        <input matInput placeholder="Start Time" type="time" formControlName="courseStartTime" [readonly]="readOnly">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="48" fxLayoutAlign="stretch">
                    <mat-form-field>
                        <input matInput placeholder="End Time" type="time" formControlName="courseEndTime" [readonly]="readOnly">
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field>
                <input matInput placeholder="Days" formControlName="courseDays" [readonly]="readOnly">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Venue" formControlName="courseVenue" [readonly]="readOnly">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Flier URL" formControlName="flyerURL" [readonly]="readOnly">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Indemnity Forms" formControlName="indemnityFormsString" [readonly]="readOnly" *ngIf="readOnly">
                <mat-select placeholder="Indemnity Forms" formControlName="indemnityForms" multiple  *ngIf="!readOnly">
                    <mat-option *ngFor="let form of indemnityForms" [value]="form.indemnityFormId">
                        {{form.indemnityFormTitle}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div fxLayout="column" fxFlex="30" fxFlex.md="40">

            <mat-form-field>
                <input matInput placeholder="Teachers and Coordinates" formControlName="teachersString" [readonly]="readOnly" *ngIf="readOnly">
                <mat-select placeholder="Teachers and Coordinates" formControlName="teachers" multiple  *ngIf="!readOnly">
                    <mat-option *ngFor="let teacher of teachers" [value]="teacher.teacherId">
                        {{teacher.devotee | fullName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Tags" formControlName="tags" [readonly]="readOnly">
            </mat-form-field>

            <mat-form-field *ngIf="!readOnly">
                <input matInput placeholder="Image URL" formControlName="courseImageURL">
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Remarks/Notes" formControlName="courseRemarks" [readonly]="readOnly"></textarea>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Number of Slots" formControlName="slots" [readonly]="readOnly">
            </mat-form-field>

            <mat-checkbox formControlName="isArchived">Is Archived</mat-checkbox>

            <mat-checkbox formControlName="isRegistrationOpen">Is Registration Open</mat-checkbox>

        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
        <button mat-flat-button color="accent" routerLink="../" *ngIf="!readOnly">BACK</button>
        <button mat-flat-button color="accent" routerLink="/courses" *ngIf="readOnly">BACK</button>
        <button *ngIf="action==='create'" mat-flat-button color="accent" type="reset" (click)="onReset()">RESET</button>
        <button *ngIf="action==='create'" mat-flat-button color="accent" type="submit"
                (click)="onSubmit()" [disabled]="!courseForm.valid">SUBMIT</button>
    </div>

</div>
</mat-card>