
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="appService.isUnderAge; else notUnderAge" >
  <embed src="http://www.livermoretemple.org/hints/content/html/2018/Youth_Unconditionalreleaseofliabilitycontract.pdf" 
    style="width: 90%;
    height: 600px;
    margin-top: 0.5%" 
    type="application/pdf">
</div>
<ng-template #notUnderAge>
  <div fxLayout="row" fxLayoutAlign="center center">
      <embed src="http://www.livermoretemple.org/hints/content/html/2018/AdultUnconditionalreleaseofliabilitycontract.pdf" 
      style="width: 90%;
      height: 600px;
      margin-top: 0.5%" 
      type="application/pdf">
  </div>
</ng-template>