<div class="hccc-teacher-onboard-form container" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign.lt-md="center center" >
  <div class="mat-title" fxLayoutAlign.gt-md="center center">Teacher Onboard Page </div>
  <!--<div fxFlex="100" fxLayoutAlign="center center" *ngIf="appService.isYandeChair">
    <a mat-fab class="hccc-add-new-fab" routerLink="../create">
      <mat-icon aria-label="add new icon">add</mat-icon>
    </a>
  </div>-->



  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="5%">

      <div fxLayout="column" fxFlex="30" fxFlex.md="40" fxLayoutAlign="center">
        <mat-form-field>
          <input matInput type="number" placeholder="Enter Devotee Mobile Number"> <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
          <mat-list role="list">
            <mat-list-item role="listitem"><h3 matSubheader>First Name:</h3>Madhu Ramesh</mat-list-item>
            <mat-list-item role="listitem"><h3 matSubheader>Email:</h3>abc@example.com</mat-list-item>
            <mat-list-item role="listitem"><h3 matSubheader>Phone Number:</h3>123-456-7890</mat-list-item><br/>
          </mat-list>
      </div>

      <div fxLayout="column" fxFlex="30" fxFlex.md="40" fxLayoutAlign="center">
          <mat-form-field>
            <input matInput placeholder="Skill sets"><br/>
          </mat-form-field>
          
          <mat-checkbox> Indemnity Signed </mat-checkbox><br/>
          <mat-checkbox> Identification Verified </mat-checkbox><br/>
          <mat-checkbox> Background check complete </mat-checkbox>
      </div>

  </div>


  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
      <button mat-flat-button color="accent" >CANCEL</button>
      <button mat-flat-button color="accent">SUBMIT</button>
  </div>
</div>
