<!--Course catalogue works!-->
<div class="wrapper" fxLayout="column">
  <hccc-course-search-navbar></hccc-course-search-navbar>
  <div fxFlex="100" fxLayoutAlign="center center" *ngIf="appService.isYandeChair">
    <a mat-fab class="hccc-add-new-fab" routerLink="../create">
      <mat-icon aria-label="add new icon">add</mat-icon>
    </a>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    {{appService.courses}}
  <mat-card class="hccc-course-card" fxLayout="row wrap" *ngFor="let course of courses.courses" >
    <mat-card-header fxFlex.gt-xs="1 1 50" fxFlex.lt-sm="1 1 100" fxLayout="column">

      <mat-card-content fxLayout="column" fxLayoutAlign.lt-sm="center center">
        {{course.courseName}}
      </mat-card-content>

      <mat-card-content fxLayout="column" fxLayoutAlign.lt-sm="center center">
        <div>Teachers</div>
        <div>{{course.courseVenue}}</div>
        <div>Days</div>
        <div>Start & End Times</div>
        <div>Start & End Dates</div>
        <div>Tags</div>
        <div>Space Availability</div>
      </mat-card-content>

    </mat-card-header>


    <div fxFlex.gt-xs="1 1 50" fxFlex.lt-sm="1 1 100" fxLayoutAlign="center center">
      <img src="{{course.imageURL}}"
           alt="Photo of a Lordess Saraswati"
            style="width:100%;height:100%;" >
    </div>


    <mat-card-actions fxFlex="100" fxLayoutAlign.lt-sm="center center">
      <a mat-button routerLink="../details/{{course.courseId}}">DETAILS</a>
      <a mat-button routerLink="../enroll/{{course.courseId}}">ENROLL</a>
    </mat-card-actions>
  </mat-card>
  </div>
</div>
