<div class="hccc-course-creation-form container" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign.lt-md="center center" >
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="5%">
        <div fxLayout="column" fxFlex="30" fxFlex.md="40" fxLayoutAlign="center">
            <mat-list role="list">
              <mat-list-item role="listitem"><h3 matSubheader>Course Name:</h3> abc</mat-list-item>
              <mat-list-item role="listitem"><h3 matSubheader>Age Restrictions:</h3> abc</mat-list-item>
              <mat-list-item role="listitem"><h3 matSubheader>Start Date:</h3> 07/04/18</mat-list-item>
              <mat-list-item role="listitem"><h3 matSubheader>End Date:</h3> 07/09/18</mat-list-item>
              <mat-list-item role="listitem"><h3 matSubheader>Time:</h3> 11am -1pm</mat-list-item>
              <mat-list-item role="listitem"><h3 matSubheader>Days:</h3> 10</mat-list-item>
              <mat-list-item role="listitem"><h3 matSubheader>Venue:</h3>Livermore Temple</mat-list-item>
              <mat-list-item role="listitem">
                  <h3 matSubheader>Flyer URL:</h3>
                  <a href="https://www.livermoretemple.org">https://www.livermoretemple.org</a>
              </mat-list-item>
            </mat-list>
        </div>
        <div fxLayout="column" fxFlex="30" fxFlex.md="40" >
            <mat-list role="list">
              <mat-list-item role="listitem"><h3 matSubheader>Teachers and Coordinates:</h3> abc</mat-list-item>
              <mat-list-item role="listitem"><h3 matSubheader>Tags:</h3> abc</mat-list-item>
              <mat-list-item role="listitem">
                  <h3 matSubheader>Image URl:</h3>
                  <a href="https://google.com">https://google.com</a>
              </mat-list-item>
              <mat-list-item role="listitem"><h3 matSubheader>Remarks:</h3> asdfghjkl</mat-list-item>
              <mat-list-item role="listitem"><h3 matSubheader>Number of Slots:</h3> 2</mat-list-item>
            </mat-list>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
        <button mat-flat-button color="accent" routerLink="../../create">EDIT DETAILS</button>
        <button mat-flat-button color="accent" routerLink="../../catalogue">BACK TO CATALOGUE</button>
    </div>
</div>
