
@import '~@angular/material/theming';
// always include only once per project
@include mat-core();


// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$hccc-theme-primary: mat-palette($mat-grey);
$hccc-theme-accent: mat-palette($mat-orange);
$hccc-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$hccc-theme: mat-light-theme(
$hccc-theme-primary,
$hccc-theme-accent,
$hccc-theme-warn
);
@include angular-material-theme($hccc-theme);

