
@import '~@angular/material/theming';
// always include only once per project
@include mat-core();


// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$hccc-theme-primary: mat-palette($mat-grey);
$hccc-theme-accent: mat-palette($mat-light-blue, 900, 700, 1000);
$hccc-theme-warn: mat-palette($mat-red, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$hccc-theme: mat-light-theme(
$hccc-theme-primary,
$hccc-theme-accent,
$hccc-theme-warn
);
@include angular-material-theme($hccc-theme);

$hccc-theme-success-msg-green: darkgreen;
$hccc-theme-failure-msg-red: orangered;
$hccc-theme-warning-msg-yellow: goldenrod;
$hccc-theme-info-msg-blue: darkcyan;

$custom-typography: mat-typography-config(
        $font-family: 'Roboto, monospace',
        $headline: mat-typography-level(20px, 32px, 100),
        $title: mat-typography-level(28px, 32px, 100),
        $body-1: mat-typography-level(14px, 18px, 100)
);

@include angular-material-typography($custom-typography);

.mat-badge-content {
  padding: 7px !important;
}

.hccc-success-snack-bar {
  background-color: $hccc-theme-success-msg-green;
  .mat-button {
    color:mat-contrast($hccc-theme-primary, 900);
  }
}
.hccc-failure-snack-bar {
  background-color: $hccc-theme-failure-msg-red;
  .mat-button {
    color:mat-contrast($hccc-theme-primary, 900);
  }
}
.hccc-warning-snack-bar {
  background-color: $hccc-theme-warning-msg-yellow;
  .mat-button {
    color:mat-contrast($hccc-theme-primary, 900);
  }
}
.hccc-info-snack-bar {
  background-color: $hccc-theme-info-msg-blue;
  .mat-button {
    color:mat-contrast($hccc-theme-primary, 900);
  }
}

.hccc-success-caption {
  background-color: $hccc-theme-success-msg-green;
  color: mat-contrast($hccc-theme-primary, 900);
}

.hccc-failure-caption {
  background-color: $hccc-theme-failure-msg-red;
  color: mat-contrast($hccc-theme-primary, 900);
}